extends ./../app

block append head
  script(src='https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js')

mixin sideTab(name, text, icon)
  a.list-group-item.list-group-item-action.d-flex.justify-content-between.align-items-center(href=`#${name}` data-toggle='list' role='tab' id=`${name}-list`)
    |  #{text}
    i.fa(class=`fa-${icon}`)

block content
  .row
    .col-md-3
      h6.text-muted USER AREA
      .list-group.list-group-flush#list-tab(role='tablist')
        a.list-group-item.list-group-item-action.active.d-flex.justify-content-between.align-items-center#settings-list(href='#settings' data-toggle='list' role='tab')
          |  Settings
          i.fa.fa-cog
        +sideTab('bookings', 'My Bookings', 'book')
        +sideTab('reviews', 'My Reviews', 'star')

      - if (user.role === 'admin')   
        h6.text-muted.mt-3 ADMIN AREA
        .list-group.list-group-flush#list-tab(role='tablist')
          +sideTab('manage-tours', 'Manage Tours', 'map')
          +sideTab('manage-users', 'Manage Users', 'users-cog')
          +sideTab('manage-reviews', 'Manage Reviews', 'splotch')
          +sideTab('manage-bookings', 'Manage Bookings', 'book-medical')

    .col-md-9
      .tab-content#nav-tabContent
        .tab-pane.fade.show.active#settings(role='tabpanel')
          .card.mt-4
            .card-body
              h5.text-center UPDATE PROFILE
              hr
              .row
                .col-md-6.mx-auto
                  form#update-userdata
                    .form-group
                      label(for='name') Name:           
                      input.form-control#name(type='text' value=`${user.name}` required name='name')
                    .form-group
                      label(for='email') Email:           
                      input.form-control#email(type='email' value=`${user.email}` required name='email')
                    .text-center
                      img.text-center.mb-2.shadow-sm.rounded(src=`/assets/img/users/${user.photo}` width='90')
                    .custom-file
                      input.custom-file-input#photo(type='file' name='photo')
                      label.custom-file-label(for='photo') Change Profile Picture
                    .text-right.mt-3
                      button.btn.btn-success#btn-savedata(type='submit') Save Changes
          .card.mt-4
            .card-body
              h5.text-center CHANGE PASSWORD
              hr
              .row
                .col-md-6.mx-auto
                  form#update-password
                    .form-group
                      label(for='curr-pass') Current Password:           
                      input.form-control#curr-pass(type='password' placeholder='•••••••' required)
                    .form-group
                      label(for='new-pass') New Password:           
                      input.form-control#new-pass(type='password' placeholder='•••••••' required)
                    .form-group
                      label(for='pass-conf') Password Confirm:           
                      input.form-control#pass-conf(type='password' placeholder='•••••••' required)
                    .text-right.mt-3
                      button.btn.btn-success#btn-savepass(type='submit') Save Changes
                      
        .tab-pane.fade#bookings(role='tabpanel')
          if(bookings.length <= 0)
            .text-center
              h5.text-muted You haven't booked any tour.
              a.btn.btn-sm.btn-success(href='/') BOOK ONE NOW!
          else
            .row
              .col-md-12
                each booking in bookings
                  .card.mb-3
                    .card-body
                      .media.mb-3
                        img.mr-3.img-fluid.rounded(src=`/assets/img/tours/${booking.tour.imageCover}` width='480')
                        .media-body
                          h5.mb-3 #{booking.tour.name.toUpperCase()}
                          p.blockquote-footer Starts #{moment(booking.tour.startDates[0]).fromNow()} from now.
                          p.blockquote-footer Booked #{moment(booking.createdAt).fromNow()}.
                          p.blockquote-footer Status: 
                            if(booking.paid)
                              span.badge.badge-success Paid
                            else
                              span.badge.badge-danger Not Paid
                          p.blockquote-footer Total Paid:
                            b  $#{booking.price}
                          .text-right.fixed-botton
                            a.btn.btn-info(href=`/tour/${booking.tour.slug}`) Go to Tour Page